/* .ladne {
    background-color: indianred;
    color: whitesmoke;
}

.brzydkie {
    background-color: greenyellow;
} */

/* .move1 {
    position: absolute;
    top: 0px;
    left: 0px;
}

.move2 {
    position: absolute;
    top: 0px;
    right: 0px;
}

.move3 {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.move4 {
    position: absolute;
    bottom: 0px;
    left: 0px;
} */